body {
    background-image: url("./components/assets/space.jpg");
    color: whitesmoke;
}

.App {
    text-align: center;
    padding: 5%;
    margin-top: 20px;
}

.App-title {
     font-size: 27px;
}

#Menu {
    float: left;
    width: 100%;
}

.Menu-list {
    display: inline-block;
    margin: 0px;
    width: 33.33%;
}

.apod-explain {
    font-size: medium;
}

#apod-pic {
    width: 100%;
    height: 400px;
}

#Aod-bar {
    display: inline-block;
    margin: 0px;
    width: 33.33%;
}

#Mars-curiosity {
    width: 100%;
    height: 600px;
}